

body {
    margin: 0;
    color: #333333;
    background-color: #bfd0e6;
}
.container{
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

#tic-tac-toe .disable {
    text-transform:uppercase; 
    font-size:30px;
    font-family: 'Poor Story', cursive; 
    }
#tic-tac-toe #game li {
    float:left; 
    padding:0; 
    list-style:none; 
    text-align:center;
     margin-bottom:20px; 
     color:#fff; 
     height:60px; 
     line-height:60px; 
     font-size:50px; 
     color:#ccc
    }
#tic-tac-toe #game li.disable{
    color:#fff
}
#tic-tac-toe #game {
    float:left; 
    padding:0; 
    clear:both
}
.new_span {
    width: 300px
}
#tic-tac-toe #reset { 
    padding:5px 10px; 
    color:#fff; 
    font-family: 'Poor Story', cursive; 
    font-size:20px; 
    clear:both; 
    cursor:pointer; 
    float:left; 
    text-align:center; 
    text-transform:uppercase; 
    outline:none; 
    width:204px
}
.input-prepend span.pre_text {
    width:60px
}
.input-prepend .span1{
    width:93px
}
.input-prepend {
    margin-bottom:10px;
    font-family: 'Poor Story', cursive;
}

.input-append .add-on, .input-prepend .add-on {
    display: inline-block;
    width: auto;
    height: 20px;
    min-width: 16px;
    padding: 4px 5px;
    font-size: 17px;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 1px 0 #ffffff;
    background-color: #eeeeee;
    border: 1px solid #ccc;
}
.clr {
    clear:both;
    height:0
}
#tic-tac-toe h1 {
    text-align:center;
     font-size: 45px;
     font-family: 'Poor Story', cursive;
}
#tic-tac-toe li::-moz-selection {
    background:none;
    color:#000;
}
#tic-tac-toe li::-webkit-selection {
    background:none;
    color:#000;
}
#tic-tac-toe {
    width:270px;
    margin:0 auto
}
.input-append .win_times {
    background:#fff; 
    width:101px
}
.input-append .win_text {
    width:52px
}
